@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Dit is onze super fancy armour shop voor kekke ninjas. Ben jij een over level 9000 ninja en ook een beetje een maymay god? Dan is deze shop helemaal voor jou!</p>
</div>
